<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Robot Control</title>
</head>
<body>
    <h1>Robot Control Interface</h1>
    <div class="intro2">
        <h2>Camera Feed</h2>
    <div class="camera">
        <!-- <img src="{{ url_for('video_feed') }}" alt="Live Camera Feed"> -->
        <img src="/camera_feed" alt="Camera Feed">
    </div>
    </div>



    <br/>
    <button onclick="sendCommand('/move_forward')">Move Forward</button>
    <button onclick="sendCommand('/turn_right')">Turn Right</button>
    <button onclick="sendCommand('/turn_left')">Turn Left</button>
    <button onclick="sendCommand('/pre_grasp')">pre grasp</button>
    <button onclick="sendCommand('/head_up')">Heads up</button>
    <button onclick="sendCommand('/robot_set_home')">robot_set_home</button>

    <script>
        function sendCommand(endpoint) {
            fetch(endpoint, { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>